@model IEnumerable<TestStore.Models.orders>
@if ((string)ViewData["role"] == "admin")
{
    Layout = "_layoutmaster";
}
else
{
    Layout = "_layoutcustomer";
}
<h2>Purchase Report</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Customer Name</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.custname</td>
                <td>@item.total</td>
                <td>
                    <a asp-controller="orders" asp-action="MyOrder" asp-route-custname="@item.custname" class="btn btn-info">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
